body {
    font-family: tahoma;
    color: #282828;
    margin: 0px;
}

.nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
}

.product {
    display: flex;
}

.product-image {
    flex-basis: 700px;
}

.product-info {
    margin-top: 10px;
    flex-basis: 500px;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}

.cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
}